# Python
*.pyc
__pycache__/

# Virtual environment
venv/
.env

# Node modules (if you're using Node.js in the project)
node_modules/

# Tailwind build artifacts
.tailwind/

# PostgreSQL (optional, depending on where you store it)
*.sql
*.db

# Project specific test files and others
MyScripting/
MyFiles/

# Extras
.stylelintrc.json
.combinefilesrc.json